<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>YouClone</title>
</head>

<body>
    <div class="flex flex-col min-h-dvh">

        {{template "header" . }}

        <div class="flex flex-1">
            {{template "aside" .}}
            <main class="flex-1 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 p-4">
              
                {{range .videos}}
                {{template "vlink" .}}
                {{end}}


            </main>
        </div>
    </div>

</body>

</html>