<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>YouClone</title>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col min-h-dvh">
        {{template "header" . }}

        <div class="flex flex-1">
            {{template "aside" .}}
            <main class="flex-1 p-4 lg:p-6">
                <div class="max-w-[2400px] mx-auto">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                        {{range .videos}}
                        {{template "vlink" .}}
                        {{end}}
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>