<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Upload video</title>
</head>

<body>
    <div class="flex flex-col min-h-dvh">
        {{template "header" .}}
        <div class="flex flex-1">

            {{template "aside" .}}
            <main class="flex-1  gap-4 p-4">
                <div class=" p-8 w-full max-w-md">
                    <h1 class="text-3xl font-bold mb-6 text-center">Upload Video</h1>

                    <form class="space-y-4" method="post" action="/upload" enctype="multipart/form-data">
                        <div>
                            <label for="title" class="block mb-1 font-medium">
                                Title <span class="text-red-500">*</span>
                            </label>
                            <input type="text" id="title" placeholder="Enter the title of your video name" required
                                name="title"
                                class="bg-gray-200 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-800" />
                        </div>
                        <div>
                            <label for="video" class="block mb-1 font-medium">
                                Video <span class="text-red-500">*</span>
                            </label>
                            <input type="file" id="video" required name="video"
                                class="bg-gray-200 rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-800" />
                        </div>


                        <button type="submit"
                            class="bg-blue-600 hover:bg-blue-800 rounded-md px-4 py-2 w-full font-medium transition-colors duration-300">
                            Upload
                        </button>
                    </form>
                   
                </div>

            </main>
        </div>

</body>

</html>